ale-py==0.10.1
gym==0.26.2
gymnasium==1.0.0
imageio==2.36.1
imageio-ffmpeg==0.5.1
matplotlib==3.9.3
numpy==1.26.4
opencv-python==4.10.0.84
pillow==10.2.0
pygame==2.6.1
scipy==1.14.1
torch==2.4.1+cu121
torchaudio==2.4.1+cu121
torchelastic==0.2.2
torchvision==0.19.1+cu121